.article {
    padding: $spacing-unit-base;

    @media (min-width: 768px) {
        padding: $spacing-unit-base;
    }
}

.article__meta {
    @include font-size(13px 15px);
    color: $color-grey-1;
}

.article__title {
    @include font-size(30px 40px);
    color: $color-text-base;
    font-family: $font-family-highlight;
    margin-bottom: $spacing-unit-base;
    line-height: 1.2;
}

.article__image {
    margin-right: -$spacing-unit-base;
    margin-left: -$spacing-unit-base;
    padding: 0;

    @media (min-width: 768px) {
        margin-right: 0;
        margin-left: 0;
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    figcaption {
        background: $color-grey-3;
        font-size: 12px;
        padding: 15px $spacing-unit-base;
    }

}

.article__content {
    @include font-size(13px 15px);

    a {
        font-weight: bold;
        border-bottom: 1px dashed $color-grey-1;

        &:focus,
        &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }

    h3,
    h4 {
        color: $color-primary;
        padding-top: $spacing-unit-base;
    }

    :first-child {
        padding-top: 0;
    }

}

.article__footer {
    font-size: 12px;

    p {
        margin: 0;
    }
}
