/*------------------------------------*\
    #ARICLE-SEARCH
\*------------------------------------*/


.article-search {
    padding: $spacing-unit-base;

    @media (min-width: 768px) {
        padding: $spacing-unit-base 0;
    }

    [type='text'],
    select {
        @include font-size(13px 15px);
        border: 1px solid $color-primary;
        font-family: sans-serif;
        font-weight: 300;
        color: $color-text-base;
        line-height: 1.5;
        outline: 0;
        padding: $spacing-unit-base/3 $spacing-unit-base/2;
        line-height: 1;
        background: #fff;
        width: 100%;
        margin: 0 0 $spacing-unit-base/2;

        @media (min-width: 768px) {
            width: 260px;
        }
    }

    .fonts-stage-1 & {
        [type='text'],
        select {
            font-family: $font-family-base;
        }
    }

    label {
        display: block;
        @include font-size(13px 15px);
    }

    select {
        height: 33px;

        @media (min-width: 768px) {
            width: 200px;
        }
    }

    [type='submit'] {
        background: $color-primary;
        border: 0;
        color: $color-text-reverse;
        padding: $spacing-unit-base/3 $spacing-unit-base/2;
        border: 1px solid $color-primary;
        outline: 0;
        cursor: pointer;

        &:focus,
        &:hover {
            background: darken($color-primary, 10%);
        }
    }
}
