.article {
    padding: 0 $spacing-unit-base/2;

    @media (min-width: 768px) {
        padding: 0 $spacing-unit-base;
    }
}

.article__meta {
    @include font-size(13px 15px);
    color: $color-grey-1;
}

.article__title {
    @include font-size(20px 40px);
    color: $color-text-base;
    font-family: $font-family-highlight;
    margin: 0;
    line-height: 1.2;
}

.article__image {
    margin-right: -$spacing-unit-base/2;
    margin-left: -$spacing-unit-base/2;
    padding: 0;

    @media (min-width: 768px) {
        margin-right: 0;
        margin-left: 0;
    }

    img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

    figcaption {
        background: $color-grey-3;
        font-size: 12px;
        padding: 0.8rem;
    }

}

.article__content {

    a {
        font-weight: bold;
        border-bottom: 1px dashed $color-grey-1;

        &:focus,
        &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }

}

.article__footer {
    font-size: 12px;
}
