.block-link-index {
    padding: 10px 0;
    generate-grid: columns(1/2 1/2) gutter(10px);

    @media (min-width: 768px) {
        padding: $spacing-unit-base 0;
        generate-grid: columns(1/3 1/3 1/3);
    }

    .site-content__complementary & {
        padding: $spacing-unit-base 0 0;
        generate-grid: columns(1/2 1/2);
    }
}

.block-link {
    color: $color-text-reverse;
    display: flex;
    height: 100%;
}

.block-link__content {
    display: flex;
    width: 100%;
}

.block-link__url {
    @include font-size(13px 15px);
    width: 100%;
    display: block;
    color: $color-text-reverse;
    font-family: $font-family-highlight;
    background: $color-grey-4;
    padding: 40px 10px 80px;
    text-align: center;
    transition: background-color $transition-time ease;

    &:focus,
    &:hover {
        background: darken($color-grey-4, 10%);
    }

    .block-link--has-vacancies & {
        background: $color-biscay;

        &:focus,
        &:hover {
            background: darken($color-biscay, 10%);
        }
    }

    .block-link--has-publications & {
        background: $color-cadillac;

        &:focus,
        &:hover {
            background: darken($color-cadillac, 10%);
        }
    }
}

.block-link__more {
    display: block;
    margin: 0.2em;
    font-style: normal;
}

.block-link__title {
    @include font-size(13px 15px);
    font-family: $font-family-highlight;
    font-weight: bold;
}

.block-link__subtitle {
    font-family: $font-family-highlight;
    display: block;
    position: relative;
    top: -2px;
    font-size: 12px;
    font-weight: bold;
}

.block-link__tag {
    @include font-size(13px 15px);
    font-family: $font-family-highlight;
    display: inline-block;
    background: rgba($color-flush-mahogany, 0.9);
    padding: 0.35em 0.5em 0.2em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease;

    .block-link__url:focus &,
    .block-link__url:hover & {
        background: rgba(darken($color-flush-mahogany, 10%), 0.9);
    }

    .block-link__url--news & {
        background: rgba($color-jelly-bean, 0.9);
    }

    .block-link__url--news:focus &,
    .block-link__url--news:hover & {
        background: rgba(darken($color-jelly-bean, 10%), 0.9);
    }


    .block-link__url--social & {
        background: rgba($color-buttercup, 0.9);
    }

    .block-link__url--social:focus &,
    .block-link__url--social:hover & {
        background: rgba(darken($color-buttercup, 10%), 0.9);
    }


    .block-link__url--community & {
        background: rgba($color-hippie-blue, 0.9);
    }

    .block-link__url--community:focus &,
    .block-link__url--community:hover & {
        background: rgba(darken($color-hippie-blue, 10%), 0.9);
    }


    .block-link__url--profile & {
        background: rgba($color-lochmara, 0.9);
    }

    .block-link__url--profile:focus &,
    .block-link__url--profile:hover & {
        background: rgba(darken($color-lochmara, 10%), 0.9);
    }


    .block-link__url--events & {
        background: rgba($color-jelly-bean, 0.9);
    }

    .block-link__url--events:focus &,
    .block-link__url--events:hover & {
        background: rgba(darken($color-jelly-bean, 10%), 0.9);
    }

    .block-link__url--people & {
        background: rgba($color-chelsea-cucumber, 0.9);
    }

    .block-link__url--people:focus &,
    .block-link__url--people:hover & {
        background: rgba(darken($color-chelsea-cucumber, 10%), 0.9);
    }
}
