/*------------------------------------*\
    #CARD-TEASER
\*------------------------------------*/


.card-teaser {
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    display: flex;

    a {
        outline: 0;
    }
}

.card-teaser__content {
    flex-direction: column;
    display: flex;
    // height: 100%;
    width: 100%;
}


.card-teaser__description {
    background: #fff;
    height: 100%;
    display: flex;
    transition: background-color $transition-time ease, color $transition-time ease;
    padding: $spacing-unit-base;
    flex: 1;

    .card-teaser__content:focus &,
    .card-teaser__content:hover & {
        background: $color-primary;
        color: $color-text-reverse;
    }
}

.card-teaser__url {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.card-teaser__title {
    @include font-size(13px 15px);
    align-self: center;
    font-family: $font-family-highlight;
    margin: 0;
}


.card-teaser__image {
    position: relative;
    background: $color-primary;

    img {
        height: auto;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
    }

   &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 20;
        background: rgba($color-primary, 0);
        overflow: hidden;
        transition: background-color $transition-time ease;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .card-teaser__content:focus &,
    .card-teaser__content:hover & {
        &::after {
            background: rgba($color-primary, 0.6);
        }
    }

}
