/*------------------------------------*\
    #CARD-TEASER
\*------------------------------------*/


.card-teaser {
    position: relative;
    line-height: 1.2;
    display: flex;

    a {
        outline: 0;
    }
}

.card-teaser__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-teaser__image {
    flex-shrink: 0;
    position: relative;

    img {
        max-width: 100%;
        width: 100%;
        height: inherit;
        vertical-align: middle;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 20;
        background: rgba($color-primary, 0);
        overflow: hidden;
        transition: all $transition-time;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .card-teaser:hover & {
        &::after {
            background: rgba($color-primary, 0.5);
        }
    }
}


.card-teaser__description {
    display: flex;
    flex-direction: row;
    background: #fff;
    flex-grow: 1;
    align-items: center;
    transition: background-color $transition-time ease, color $transition-time ease;
    padding: $spacing-unit-base;

    .card-teaser:hover & {
        background: $color-primary;
        color: #fff;
    }
}


.card-teaser__title {
    @include font-size(13px 15px);
    align-self: center;
    font-family: $font-family-highlight;
    margin: 0;
}
