.site-footer {
    background: #414141;
    height: 192px;

    @media (min-width: 768px) {
        padding: $spacing-unit-base;
    }
}

    .site-footer__container {
        text-align: justify;
        font-size: 0;
        line-height: 1;
        margin: 0 auto;
        max-width: 1004px;
        padding: $spacing-unit-base/2;

        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

    .site-footer__item--logo {
        width: 190px;
        margin: 0 0 $spacing-unit-base;

        @media (min-width: 768px) {
            margin: 0;
        }

        img {
            vertical-align: middle;
            max-width: 100%;
            width: 100%;
        }
    }

    .site-footer__item {
        display: inline-block;
        vertical-align: middle;

        img {
            vertical-align: middle;
        }
    }

    .site-footer__item--partner-logos {
        width: 80%;
        max-width: 320px;
        min-width: 280px;
        margin: 0 0 $spacing-unit-base;

        @media (min-width: 768px) {
            width: percentage(328/1004);
            text-align: right;
            display: inline-block;
            max-width: none;
            padding-top: 10px;
            margin: 0;
        }
    }

    .site-footer__item--partner-logo {
        box-sizing: border-box;

        &:first-child {
            padding-left: 0;
        }

        img {
            max-width: 100%;
            width: 100%;
        }
    }

    .site-footer__item--sa-logo {
        width: percentage(100/328);
    }

    .site-footer__item--dewnr-logo {
        width: percentage(198/328);
        padding-left: percentage(30/328);
    }
