/*------------------------------------*\
    #SITE-NAVIGATION
\*------------------------------------*/


.site-navigation {
    @include font-size(13px 15px);
    background: #fff;
    color: $color-primary;
    display: none;

    .is-home & {
        display: block;
    }

    @media (min-width: 768px) {
        display: inline-block;
    }
}


.site-navigation__list {
    clear: both;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    transform-style: preserve-3d;
    max-width: $max-width + $spacing-unit-base*2;
    z-index: 99999;
    clear: fix;
    // padding: 0 $spacing-unit-base;

    .is-home & {
        padding: 0;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }
    }
}


.site-navigation__item {
    margin: 0;
    list-style: none;
    display: inline;

    &::after {
        content: ' | ';
        color: $color-grey-4;
    }

    &:last-child {
        &::after {
            content: '';
        }
    }
}


.site-navigation__link {
    padding: $spacing-unit-base $spacing-unit-base ($spacing-unit-base - 10px);
    display: inline-block;
    color: $color-primary;
    outline: 0;

    .is-home & {
        padding-right: $spacing-unit-base/3;
        padding-left: $spacing-unit-base/3;

        @media (min-width: 768px) {
            padding-right: $spacing-unit-base;
            padding-left: $spacing-unit-base;
        }
    }

    span {
        padding: 0 0 5px;
        position: relative;
        display: block;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: $color-primary;
            transform: scale3d(0, 1, 1);
            transition: transform 0.1s;
        }
    }

    &:focus,
    &:hover {
        text-decoration: none;

        span {
            &::before {
                transform: scale3d(1, 1, 1);
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.5s;
            }
        }
    }

    .site-navigation__item:first-child & {

        .is-home & {
            padding-left: 0;
        }

    }

    .site-navigation__item:last-child & {
        padding-right: 0;
    }
}
