.site-background {
    display: none;
}


@media (min-width: 768px) {
    .site-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
    }

    .fixedratio {
        padding-top: percentage(372/650);
        background-size: cover;
        background-position: center;
        opacity: 50%;
        filter: blur(10px);

        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.11) 8%, rgba(232, 232, 232, 1) 75%, rgba(232, 232, 232, 1) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 61%, rgba(255, 255, 255, 0.28) 89%, rgba(255, 255, 255, 0) 100%);
            z-index: 2;
        }
    }
}
