.site-content {
    background: #e6e6e6;
}

.site-content__inner {
    margin: 0 auto;
    max-width: 1024px;
}


.site-content--twocol {

    .site-content__inner {

        @media (min-width: 768px) {
            padding: 20px 10px;
            generate-grid: columns(auto 340px) gutter(10px);
        }
    }

}

.site-content__main {

    .site-content--twocol & {
        background: #fff;
    }

}

.site-content__complementary-title {
    color: #494847;
    font-family: 'Dewnrger', 'Frutiger W01', sans-serif;
    font-size: responsive 20px 32px;
    font-range: 768px 1280px;
    margin: 0;
    padding: 0 5px;

    @media (min-width: 768px) {
        padding: 0 10px;
    }
}
