.site-content {
    position: relative;
    background: $color-grey-2;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: $spacing-unit-base 0;

        &.site-content--twocol {
            padding: 0;
        }
    }
}

.site-content__inner {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    z-index: 10;
}


.site-content--twocol {

    .site-content__inner {

        @media (min-width: 768px) {
            padding: $spacing-unit-base 0;
            generate-grid: columns(auto 340px) gutter(25px);
        }
    }

}

.site-content__main {

    .site-content--twocol & {
        background: #fff;
    }

}

.site-content__complementary-title {
    @include font-size(20px 32px);
    color: $color-text-base;
    font-family: $font-family-highlight;
    margin: 0;
}
