/*------------------------------------*\
    #SITE-PAGINATION
\*------------------------------------*/


.site-pagination {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;

    @media (min-width: 768px) {
        text-align: left;
        background: none;
    }
}

.site-pagination__result {
    display: inline-block;
}

.site-pagination__jumpto {
    display: inline-block;

    input {
        background: #0e3050;
        border: 0;
        color: #fff;
        padding: 6.66667px 10px;
        border: 1px solid #0e3050;
        outline: 0;
        cursor: pointer;
    }

    @media (min-width: 768px) {
        float: right;
    }
}
