.site-content {
    background: $color-grey-2;

    @media (min-width: 768px) {
        padding: $spacing-unit-base 0;
    }
}

.site-content__inner {
    margin: 0 auto;
    max-width: 1024px;
}


.site-content--twocol {

    .site-content__inner {

        @media (min-width: 768px) {
            padding: 20px 10px;
            generate-grid: columns(auto 340px);
        }
    }

}

.site-content__main {

    .site-content--twocol & {
        background: #fff;
    }

}

.site-content__complementary-title {
    @include font-size(20px 32px);
    color: $color-text-base;
    font-family: $font-family-highlight;
    margin: 0;
}
