/*------------------------------------*\
    #Tag
\*------------------------------------*/


.tag {
    position: absolute;
    display: inline-block;
    color: $color-text-reverse;
    background: $color-flush-mahogany;
    font-weight: 100;
    padding: 4px $spacing-unit-base/2 3px;
    font-size: 12px;
    top: $spacing-unit-base/1.5;
    right: 0;

    &--Need { background-color: rgba($color-flush-mahogany, 0.9); }
    &--News { background-color: rgba($color-jelly-bean, 0.9); }
    &--Social { background-color: rgba($color-buttercup, 0.9); }
    &--Community { background-color: rgba($color-hippie-blue, 0.9); }
    &--Profile { background-color: rgba($color-lochmara, 0.9); }
    &--Events { background-color: rgba($color-daisy-bush, 0.9); }
    &--People { background-color: rgba($color-chelsea-cucumber, 0.9); }
    &--From { background-color: rgba($color-primary, 0.9); }

    .article__header & {
        position: relative;
        top: -2px;
        right: inherit;
        margin-right: $spacing-unit-base/2;
        margin-left: -$spacing-unit-base;
        padding: 4px $spacing-unit-base 3px;
    }

    @media (min-width: 768px) {
        .featured-post & {
            right: auto;
            left: 0;
        }
    }

}
