html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Frutiger W01', sans-serif;
    font-weight: 400;
    color: #494847;
    font-size: responsive 14px 16px;
    font-range: 768px 1280px;
    line-height: 1.5;
}

a {
    color: #494847;
    text-decoration: none;
}

@import 'article';
@import 'featured-post';
@import 'teaser';
@import 'site-content';
@import 'site-footer';
@import 'site-header';
@import 'site-hero';
@import 'site-navigation';
