/*------------------------------------*\
    #DEWNRGER
\*------------------------------------*/

/**
 * DEWNR's own customised version of Frutiger
 */

$path-fonts: '/assets/fonts/' !default;



@font-face {
    font-family: Dewnrger;
    font-style: normal;
    font-weight: 200;
    src: url(#{$path-fonts}subset-Dewnrger45Light.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger45Light.ttf) format('truetype');
}


@font-face {
    font-family: Dewnrger;
    font-style: italic;
    font-weight: 200;
    src: url(#{$path-fonts}subset-Dewnrger46LightItalic.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger46LightItalic.ttf) format('truetype');
}


@font-face {
    font-family: Dewnrger;
    font-style: normal;
    font-weight: 400;
    src: url(#{$path-fonts}subset-Dewnrger55Roman.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger55Roman.ttf) format('truetype');
}


@font-face {
    font-family: Dewnrger;
    font-style: italic;
    font-weight: 400;
    src: url(#{$path-fonts}subset-Dewnrger56Italic.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger56Italic.ttf) format('truetype');
}


@font-face {
    font-family: Dewnrger;
    font-style: normal;
    font-weight: 700;
    src: url(#{$path-fonts}subset-Dewnrger65Bold.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger65Bold.ttf) format('truetype');
}


@font-face {
    font-family: Dewnrger;
    font-style: italic;
    font-weight: 700;
    src: url(#{$path-fonts}subset-Dewnrger66BoldItalic.woff) format('woff'),
         url(#{$path-fonts}subset-Dewnrger66BoldItalic.ttf) format('truetype');
}
